<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <h3>This site gives the answers to the advent of code problems found here: <a href="https://adventofcode.com/2018/">https://adventofcode.com/2018/</a></h3>
</div>
<div>
    <app-day1></app-day1>
    <app-day2></app-day2>
    <app-day3></app-day3>
    <app-day4></app-day4>
    <app-day5></app-day5>
</div>
<hr/>
<div>
    <i>Source at <a href="https://github.com/JCake/adventOfCode2018">https://github.com/JCake/adventOfCode2018</a></i>
</div>